body {
  margin: 0;
}

.hyf-navbar-logo-img {
  max-width: 100%;
  height: 20px;
  vertical-align: middle;
  padding: 0;
  margin-right: 15px;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
}

.login-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.hyf-logo-img {
  height: 70px;
  padding: 10px;
  margin-bottom: 50px;
}

.login-button {
  min-width: 400px;
}

#dateEmpty[type='date']::-webkit-datetime-edit {
  display: none;
}
