name: Quality Checks
permissions:
  contents: read
on:
  pull_request:
    branches: [main]

jobs:
  # lint-server:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: '22'
  #         cache: 'npm'
  #         cache-dependency-path: '**/package-lock.json'

  #     - name: Install dependencies
  #       run: cd server && npm ci

  #     - name: Run ESLint
  #       run: cd server && npm run lint

  lint-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install client dependencies
        run: cd client && npm ci

      - name: Run client ESLint
        run: cd client && npm run lint
